<h3 class="question-title">{{question.title}} {{#link-to 'edit-question' question.id}}<span class="glyphicon glyphicon-pencil"></span>{{/link-to}}</h3>
<p><em>Posted by {{question.author}} {{question.date}}</em></p>
<p>{{question.body}}</p>
