<h2>Tag Search</h2>
<form {{action 'search' on='submit'}}>
  {{input value=name id='name' class='form-control' required='required'}}
  <button class='btn btn-success'>Search</button>
</form>
{{#each tag.questions as |question|}}
{{#link-to 'question' question.id}}
  <h3>{{question.title}}</h3>
  <p>By {{question.author}}</p>
{{/link-to}}
{{/each}}
