<h2>Top tags</h2>
<table class="table">
  <thead>
    <tr>
      <th>Tag</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    {{#each tags as |tag|}}
      {{#if tag.name}}
        <tr>
            <td class='top-tags'>
              {{#link-to 'tag' tag.name}}
                <span class='tag'>{{tag.name}}</span>
              {{/link-to}}
            </td>
            <td>
              {{tag.questionCount}}
            </td>
        </tr>
        {{/if}}
    {{/each}}
  </tbody>
</table>
