body {
  margin-top: 60px;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

.edit-link {
  display: none;
  font-size: 0.75em;
}

.answer-by:hover .edit-link,
.question-title:hover .edit-link {
  display: inline-block;
  cursor: pointer;
}

.add-link {
  cursor: pointer;
  font-size: 0.75em;
}

.shortAnswer {
  width: 100vw;
}

.tag {
  background: lightgrey;
  padding: 5px;
}

.shortQuestion,
.answer {
  background: lightgrey;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
  padding: 10px 20px;
  display: table;
}
.score-cell {
  padding-right: 10px;
}
.answer-cell {
  width: 100%;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.thumbs {
  margin-right: 3px;
}

.voteIcon {
  cursor: pointer;
}

.questionAuthor {
  padding-left: 10px;
  font-style: italic;
}
