body {
  margin-top: 60px;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

.edit-link {
  display: none;
  font-size: 0.75em;
}

.question-title:hover .edit-link {
  display: inline-block;
  cursor: pointer;
}

.add-link {
  cursor: pointer;
  font-size: 0.75em;
}
