<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <ul class="nav navbar-nav nav-pills">
      <li>{{#link-to 'index' class="navbar-brand"}}Epic Overflow{{/link-to}}</li>
    </ul>

    <ul class="nav navbar-nav nav-pills pull-right">
      <li>{{#link-to 'new-question'}}New Question{{/link-to}}</li>
    </ul>

  </div>
</nav>
<div class="container">
  {{outlet}}
</div>
