<h1>Welcome to Epic Overflow!</h1>

<div class="row">
  <div class="col-sm-8">
    <h3>All questions:</h3>
    {{#each model.question as |question|}}
      {{short-question question=question}}
    {{/each}}
  </div>
  <div class="col-sm-4">
    {{top-tags tags=model.topTags}}
  </div>
</div>
