<h3>{{model.user.name}}'s Questions:</h3>
{{#each model.questions as |question|}}
  {{short-question question=question}}
{{/each}}

<h3>{{model.user.name}}'s Answers:</h3>
{{#each model.answers as |answer|}}
  {{#link-to 'question' answer.question}}
    <div class='shortAnswerDisplay'>
        {{short-answer answer=answer}}
    </div>
    {{/link-to}}
    <hr>
{{/each}}
